*{
    margin: 0%;
    padding: 0%;
}

.contenedor-padre{
    background-image: url(../multimedia/foto\ main.jpg);
    width: 100%;
    background-position: center;
}


.footer-config{
    background-color: rgb(24, 23, 23);
    color: white;
    padding: 2rem;
}
.redes-soc a{
    color: white;
    font-size: 25px;
    padding: 3%;
}

.redes-sociales a:hover {
    color: aqua;
}


.carousel-index img{
    margin: auto;
    padding-top: 2rem;
    height: 22rem;
    width: 22rem;

}

.pago-envio i{
    font-size: 90px;
    color: beige;
}

.pago-envio p{
    padding-top: 2rem;
}
.pago-envio{
    margin: auto;
    padding-top: 8rem;
    height: 22rem;
    width: 22rem;
    color: beige;
    text-align: center;
    

}

@media only screen and (min-width:821px) {
    #carousel-primero,
    #carousel-segundo{
        display: none;
    }   
}

div img{
    margin-top: 2rem;
    height: 19rem;
    width: 19rem;
}

@media only screen and (max-width:821px) {
    #container-fotos,
    #container-pagos-envio{
        display: none;
    }   
}







